@charset "UTF-8";

 
 body{

     background-color: rgb(124, 102, 84);
 }
 fieldset{
     background-color: aqua;
     border: none;
     border-radius: 2px;
     margin-bottom: 12px;
     overflow: hidden;
     padding: 0 10px;
 }
 ul{
     background-color: rgb(195, 184, 206);
     border: 1px solid;
     list-style: none;
     margin: 12px;
     padding: 12px; 
 }
 ul li{
     margin: 0.5em 0;
 }
 label{
     display:inline-block;
     padding: 5px 6px;
     text-align: right;
     width: 150px;
     
     vertical-align: top;

     
     
 }
 input ,select,button{
     font-size: 100%;

 }
 small{
     width: 75px;

 }
 .medium{
     width: 150px;
 }
 .large{
     width: 170px;
 }
 

